#main-header {
  color: #FFFFFF;
  background-color: #d0bb3c;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#username {
  font-size: 32px;
  font-weight: 500;
}