

nav {
  color: #FFFFFF;
  background-color: #4056a1;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex
}

#logo-container {
  flex-grow: 1;
}

#new-post-container {
  flex-grow: 2;
}

nav #logo {
  font-family: Bungee , sans-serif;
  float: left;
  margin: 1.5em;
}

nav #new-post {
  float: right;
  margin: 1.75em;
  font-size: 19px;
  font-weight: 500;
}