@media (min-width: 0px) and (max-width: 768px) {  
  nav {
    color: #FFFFFF;
    height: 120px;
    background-color: #d69900;
    width: 100%;
    display: flex
  }

  #logo-container {
    flex-grow: 1;
  }

  #new-post-container {
    flex-grow: 2;
  }

  nav #logo {
    font-family: Bungee , sans-serif;
    float: left;
    margin: 1.5em;
  }

  nav #new-post {
    float: right;
    margin: 1.75em;
    font-size: 19px;
    font-weight: 500;
  }
}

@media (min-width: 769px) { 
  nav { 
    color: #FFFFFF;
    height: 80px;
    width: 100%;
    display: flex;
    background-color:#4056a1; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
  }
  #logo-container {
    flex-grow: 1;
  }

  #new-post-container {
    flex-grow: 2;
  }

  nav #logo {
    font-family: Bungee , sans-serif;
    float: left;
    margin: 1.5em;
  }

  nav #new-post {
    float: right;
    margin: 1.75em;
    font-size: 19px;
    font-weight: 500;
  }
}
