

nav {
  color: #FFFFFF;
  background-color: #4056a1;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  font-weight: 600;
}

nav #logo {
  font-family: Bungee , sans-serif;
  position: absolute;
  right: 1.5em;
  left: 1.5em;
  top: 1.5em;
}

nav #new-post {
  position: absolute;
  right: 1.5em;
  left: 80%;
  top: 1.5em;
  bottom: 1.5em;
}